src/services/
.git
# .gitignore
__pycache__/
.venv/
logs/
*.log
mlruns/
catboost_info/
# src/machine_learning_models/evaluation_results/
# src/machine_learning_models/evaluation/
# src/machine_learning_models/__init__.py
# src/machine_learning_models/data_loader.py
# src/machine_learning_models/hyperparameter_tuning.py
# src/machine_learning_models/feature_engineer.py
# src/machine_learning_models/model_trainer.py
# src/machine_learning_models/sampling_methods.py
# src/machine_learning_models/train.py
# src/machine_learning_models/utils.py
src/machine_learning_models/data/cases.csv
src/machine_learning_models/data/cases.xlsx
# src/machine_learning_models/data/cases.feather
src/machine_learning_models/data/school_major_details.csv
src/machine_learning_models/data/school_major_details.xlsx
src/machine_learning_models/data/school_base.xlsx
src/machine_learning_models/data/school_base.csv
# src/machine_learning_models/data/~$cases.xlsx
# src/machine_learning_models/data/~$school_major_details.xlsx
# data/cases.xlsx
# scripts/
e2_secrets.py
*.py[cod]
__pycache__/
.env
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.log
htmlcov/
.coverage
.pytest_cache/
.env
docker-compose.yml
main_auth.py
data/raw_backup
*.bak
*.backup
auth_permissions.xlsx
log.xlsx
log.txt
request.txt

~$log.xlsx
cache/background_target_similarity.json
cache/background_background_similarity.json
assets/style_test.css
test.py
*.xlsx
venv312/

cache/hrdata/
.ruff_cache/
cookie.txt

.mypy_cache/
.gitattributes

# openapi.py

# tests/
user_form_data/