{
  "test": {
    "OPEN_AI_API_KEY": "sk-YOUR_DEEPSEEK_KEY_HERE",
    "OPEN_AI_BASE_URL": "https://api.deepseek.com/chat/completions",
    "OPEN_AI_MODEL": "deepseek-v4-flash",
    "STREAMLIT_APP_BASE_URL": "http://localhost:8501/"
  },
  "prod": {
    "OPEN_AI_API_KEY": "sk-YOUR_DEEPSEEK_KEY_HERE",
    "OPEN_AI_BASE_URL": "https://api.deepseek.com/chat/completions",
    "OPEN_AI_MODEL": "deepseek-v4-flash",
    "STREAMLIT_APP_BASE_URL": "http://localhost:80/"
  }
}
