[data-testid="stHeader"] {
  display: none !important;
}

[data-testid="stSidebarNav"] {
  display: none !important;
}

button[data-testid="stBaseButton-headerNoPadding"] {
  display: none !important;
}
