div[data-testid="stSidebarNav"] {
    display: none;
}

[data-testid="stSidebar"] {
    display: none;
}

[data-testid="collapsedControl"] {
    display: none;
}

[data-testid="stElementToolbar"] {
    display: none;
}

#MainMenu {visibility: hidden !important;}

footer {visibility: hidden !important;}

.stDeployButton {
    display: none !important;
}

header {visibility: hidden !important;}

[data-testid="stHeader"] {
    display: none !important;
}

button[data-testid="stBaseButton-headerNoPadding"] {
    display: none !important;
} 






